name: solar
services:
  grafana:
    restart: unless-stopped
    image: grafana/grafana:latest
    container_name: solar_grafana
    labels:
      traefik.enable: true
      traefik.http.routers.grafana.rule: "Host(`raskobvpn.ddns.net`) && PathPrefix(`/solar`)"
      traefik.http.routers.grafana.entrypoints: websecure
      traefik.http.routers.grafana.tls.certresolver: myresolver
    environment:
      GF_SERVER_PROTOCOL: "http"
      GF_SERVER_DOMAIN: "raskobvpn.ddns.net"
      GF_SERVER_ROOT_URL: "https://%(domain)s/solar"
      GF_SERVER_SERVE_FROM_SUB_PATH: "true"
      GF_DATE_FORMATS_INTERVAL_HOUR: "DD/MM/YYYY HH:mm"
      GF_DATE_FORMATS_INTERVAL_DAY: "DD/MM"
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - traefik
      - default
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://localhost:3000/api/health || exit 1"
  postgres:
    restart: unless-stopped
    image: timescale/timescaledb:latest-pg17
    container_name: solar_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d postgres -U $${POSTGRES_USER}"]
      start_period: 30s
    volumes:
      - postgres_data:/var/lib/postgresql/data
  webservice:
    build: ../pv-service
    container_name: solar_backend
    image: solar-backend
    env_file:
      - .env
    labels:
      traefik.enable: true
      traefik.http.routers.webservice.rule: "Host(`raskobvpn.ddns.net`) && PathPrefix(`/solar/query`)"
      traefik.http.routers.webservice.entrypoints: websecure
      traefik.http.routers.webservice.tls.certresolver: myresolver
      traefik.http.routers.webservice.middlewares: traefik-auth@docker
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
    restart: unless-stopped
    networks:
      - traefik
      - default
# Explicitly define the persistent volume for your data storage
volumes:
  grafana-data:
    external: true
  postgres_data:
networks:
  traefik:
    external: true
