version: "3.8"
services:
  # My grafana service
  grafana:
    restart: unless-stopped
    image: grafana/grafana:latest
    container_name: solar_grafana
    labels:
      traefik.enable: true
      traefik.http.routers.grafana.rule: "PathPrefix(`/solar`)"
      traefik.http.routers.grafana.entrypoints: websecure
      traefik.http.routers.grafana.tls.certresolver: myresolver
    environment:
      GF_INSTALL_PLUGINS: "fifemon-graphql-datasource"
      GF_SERVER_DOMAIN: "raskobvpn.ddns.net"
      GF_SERVER_ROOT_URL: "%(protocol)s://%(domain)s:%(http_port)s/solar"
      GF_SERVER_SERVE_FROM_SUB_PATH: "true"
      GF_DATE_FORMATS_INTERVAL_HOUR: "DD/MM/YYYY HH:mm"
      GF_DATE_FORMATS_INTERVAL_DAY: "DD/MM"
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - traefik
  postgres:
    restart: unless-stopped
    image: postgres:14
    container_name: solar_db
    environment:
      POSTGRES_USER: raskob
      POSTGRES_PASSWORD: raskob
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
  webservice:
    build: ../pv-service
    container_name: solar_backend
    labels:
      traefik.enable: true
      traefik.http.routers.webservice.rule: "PathPrefix(`/solar/query`)"
      traefik.http.routers.webservice.entrypoints: websecure
      traefik.http.routers.webservice.tls.certresolver: myresolver
    restart: unless-stopped
# Explicitly define the persistent volume for your data storage
volumes:
  grafana-data:
    external: true
  postgres_data:
networks:
  traefik:
    external: true

