version: "3.8"
services:
  # My grafana service
  grafana:
    restart: unless-stopped
    image: grafana/grafana:latest
    container_name: grafana
    network_mode: host
    environment:
      GF_INSTALL_PLUGINS: "fifemon-graphql-datasource"
      GF_SERVER_PROTOCOL: "https"
      GF_SERVER_CERT_FILE: "/var/ssl/server.crt"
      GF_SERVER_CERT_KEY: "/var/ssl/server.key"
    volumes:
      - grafana-data:/var/lib/grafana
      - /etc/letsencrypt/live/raskobvpn.ddns.net/fullchain.pem:/var/ssl/server.crt
      - /etc/letsencrypt/live/raskobvpn.ddns.net/privkey.pem:/var/ssl/server.key
  postgres:
    restart: unless-stopped
    image: postgres:14
    container_name: PostgreSQL
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: raskob
      POSTGRES_PASSWORD: raskob
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
  webservice:
    build: ../pv-service
    container_name: PV-Server
    ports:
      - "8080:8080"
    restart: unless-stopped
# Explicitly define the persistent volume for your data storage
volumes:
  grafana-data:
    external: true
  postgres_data:
