version: "3.8"
services:
  # My grafana service
  grafana:
    restart: unless-stopped
    image: grafana/grafana:9.0.4
    container_name: grafana
    network_mode: host
    environment:
      GF_INSTALL_PLUGINS: "fifemon-graphql-datasource"
    volumes:
      - grafana-data:/var/lib/grafana
  postgres:
    restart: always
    image: postgres:14
    container_name: PostgreSQL
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: raskob
      POSTGRES_PASSWORD: raskob
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
  webservice:
    image: pv-server
    container_name: PV-Server
    ports:
      - 8080:8080
    restart: unless-stopped
# Explicitly define the persistent volume for your data storage
volumes:
  grafana-data:
    external: true
  postgres_data:
