version: "3.8"
services:
  # My grafana service
  grafana:
    image: grafana/grafana:8.1.4
    container_name: grafana
    network_mode: host
    environment:
      GF_INSTALL_PLUGINS: "fifemon-graphql-datasource"
    volumes:
      - grafana-data:/var/lib/grafana
# Explicitly define the persistent volume for your data storage
volumes:
  grafana-data:
    external: true
